package components

templ Layout(content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Document</title>
			<script src="/js/htmx.min.js"></script>
		</head>
		<body>
			@links()
			@content
		</body>
	</html>
}

templ links() {
	<div hx-boost="true">
		<a href="/">Home</a>
		<a href="/create">Create</a>
	</div>
}
