package components

templ BoostedLink() {
	<a href="/boosted-forms" hx-boost="true">boosted forms</a>
	<div hx-boost="true">
		<a href="/settings">Settings</a>
		<a href="/contact">contact</a>
		<a href="/help">help</a>
	</div>
}

templ PageSettings() {
	<h1>Settings</h1>
}

templ BoostedForm() {
	<form action="/message" method="post" hx-boost="true">
		<input type="text" name="message" placeholder="Enter A Message..."/>
		<button>Post Your Message</button>
	</form>
}
